include README.md
include LICENSE
include CHANGELOG.md
include CONTRIBUTING.md
include CODE_OF_CONDUCT.md
include SECURITY.md
include requirements-optional.txt
recursive-include docs *.md
recursive-include docs *.json
